.settings/
logs/
.idea/*
/.idea
.project
*.iml
*.DS_Store
.classpath
.factorypath
/.factorypath
target/
log.dir_IS_UNDEFINED/
log.dir_IS_UNDEFINED/*
**/.idea/*
run.sh
shared/
out/*
/out
*.ipr
*.iws
.metadata/
.recommenders/
*.springBeans
*.mvn/*
/.mvn
mvnw
mvnw.cmd
.factorypath
